.about {
  width: 100%;
  border-radius: 0 0 32px 32px;
}
@media (max-width: 575px) {
  .about {
    box-sizing: border-box;
  }
}
.about_head {
  background: linear-gradient(257deg, #151a30, #211d4d 28%, #271630 70%, #0f1836), linear-gradient(0deg, rgba(21, 26, 48, 0.4), rgba(21, 26, 48, 0.4));
  padding-bottom: 64px;
}
@media (max-width: 575px) {
  .about_head {
    padding: 30px 0px 64px 14px;
  }
}
.about_slider {
  position: relative;
}
.about_slider-img {
  width: 602px;
  border-radius: 16px;
  box-sizing: border-box;
  padding: 0px 50px;
}
@media (max-width: 575px) {
  .about_slider-img {
    width: 173px;
    height: 187px;
    padding: 0;
  }
}
.about_slider_buttons {
  display: flex;
}
.about_slider-prev {
  width: 25px;
  height: 25px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  position: absolute;
  bottom: 49%;
  left: 32.6%;
  background: none;
  border: 1px solid #fff;
  cursor: pointer;
}
@media (max-width: 575px) {
  .about_slider-prev {
    bottom: 46.1%;
    left: 2.2%;
  }
}
.about_slider-prev-icon {
  width: 25px;
  height: 25px;
}
.about_slider-next {
  width: 25px;
  height: 25px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  position: absolute;
  bottom: 49%;
  left: 66%;
  background: none;
  border: 1px solid #fff;
  cursor: pointer;
}
@media (max-width: 575px) {
  .about_slider-next {
    bottom: 46.1%;
    left: 94.7%;
  }
}
.about_slider-next-icon {
  width: 25px;
  height: 25px;
}
.about_end {
  padding: 1rem;
  margin-left: auto;
  margin-right: auto;
  background: rgb(16, 20, 38);
}
.about_end-title {
  color: #fff;
  display: inline-block;
  font-family: Euclid Circular A, sans-serif;
  font-size: 32px;
  font-weight: 500;
  margin-bottom: 32px;
  margin-left: 161px;
}
@media (max-width: 575px) {
  .about_end-title {
    margin-left: 0;
  }
}
.about_layout {
  width: 80%;
  display: flex;
  padding: 1rem;
  margin-left: auto;
  margin-right: auto;
  padding-top: 50px;
}
@media (max-width: 575px) {
  .about_layout {
    width: 100%;
    display: flex;
    flex-direction: column;
    padding: 0;
  }
}
.about_texts {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 55%;
}
@media (max-width: 575px) {
  .about_texts {
    width: 100%;
  }
}
.about_title {
  color: #fff;
  font-family: Euclid Circular A, sans-serif;
  font-size: 48px;
  font-weight: 500;
  line-height: 64px;
  margin-bottom: 12px;
}
.about_subtitle {
  color: #fff;
  margin-bottom: 24px;
  font-family: Euclid Circular A, sans-serif;
  font-size: 48px;
  font-weight: 500;
  line-height: 64px;
}
.about_paragraf {
  color: #fff;
  font-family: Euclid Circular A, sans-serif;
  font-size: 20px;
  font-weight: 400;
  line-height: 28px;
  margin-bottom: 24px;
}
@media (max-width: 575px) {
  .about_paragraf {
    width: 538px;
  }
}
.about_video {
  width: 623px;
  border-radius: 16px;
}
@media (max-width: 575px) {
  .about_video {
    width: 549px !important;
    height: 360px;
  }
}
.about_video_frame {
  width: 609px;
  border-radius: 16px;
}
@media (max-width: 575px) {
  .about_video_frame {
    width: 100%;
  }
}/*# sourceMappingURL=about.css.map */