.hero {
    width: 100%;
    // height: 70vh;
    background-color: rgb(16, 20, 38);
    background: linear-gradient(257deg, #151a30, #211d4d 28%, #271630 70%, #0f1836), linear-gradient(0deg, rgba(21, 26, 48, .4), rgba(21, 26, 48, .4));

    ;

    .heroAll {
        display: flex;
        justify-content: space-between;
        align-items: center;

        gap: 30px;
        color: white;
        padding: 70px 52px;


        .col2 {
            margin-bottom: 30px;
        }

        .heroImg {max-width: 510px;
            img {
                width: 100%;
                border-radius: 10px;
            }
        }

        .heroText {
            font-family: Euclid Circular A, sans-serif;
            // line-height: 25px;
        }
    }

    // @media only screen and (max-width: 768px) {
    //     .heroAll {
    //       flex-direction: column;
    //       text-align: center;
    //       padding-top: 30px;
    //     }
    // }
}

.sponsors {
    background-color: rgb(16, 20, 38);
    padding: 70px 52px;

    .gutter-row {
        display: flex;
        justify-content: center;
        margin-bottom: 30px;
    }

    // @media screen and (max-width: 600px) {
    //     .sponsors {
    //         .gutter-row {
    //             display: flex;
    //             justify-content: center;
    //         }
    //     }
    // }

    .sponsor {

        display: flex;
        justify-content: center;
        align-items: center;
        gap: 50px;
        padding-top: 40px;

    }

    .sponsorImg {
        background-color: rgb(21, 26, 48);
        margin-right:16px;
        margin-left: 16px;
        max-height: 170px;
        max-width: 200px;
        min-height: 160px;
        min-width: 26px;
        padding: 25px;
        display: flex;
        justify-content: center;
        align-items: center;
        border-radius: 10px;

        img {
            height: auto;
            max-width: 100%;
        }
    }

}

.ourValues{
    background-color: rgb(16,20,38);
padding: 16px;
    .values{
        color: rgb(255, 255, 255);
        padding-top: 70px;
        padding-bottom: 40px;
        font-size: 20px;
        font-family:Euclid Circular A,sans-serif;

        
    }

    .categories{
        background: linear-gradient(257deg, #151a30, #211d4d 28%, #271630 70%, #0f1836), linear-gradient(0deg, rgba(21, 26, 48, .4), rgba(21, 26, 48, .4));
        padding: 70px 30px;
        border-radius: 10px;
        .trust{
        display: flex;
        justify-content: space-between;
        align-items:center ;
        gap:25px;
        padding-top: 40px;
        }

        h2{
            padding-bottom: 20px;
            color: white;
            font-family:Euclid Circular A,sans-serif;
            font-weight:500;
            font-size: 20px;
            border-bottom: 1px solid #e32682;

        }
        p{
            color: white;
            font-size: 15px;
            font-family:Euclid Circular A,sans-serif;
            padding-top: 15px;

        }

        .trancparency{
         display: flex;
        justify-content: space-between;
        align-items:center ;
        gap:25px;
        padding-top: 40px;

     
        

        }

        .innovation{
        display: flex;
        justify-content: space-between;
        align-items:center ; 
        gap:25px;
        padding-top: 40px;

        }
        .collaboration{
            display: flex;
            justify-content: space-between;
            align-items:center ; 
            gap:25px;
            padding-top: 40px;


        }
    }
}