.home {
  background: linear-gradient(257deg, rgb(21, 26, 48) 0%, rgb(33, 29, 77) 28%, rgb(39, 22, 48) 70%, rgb(15, 24, 54) 100%), linear-gradient(0deg, rgba(21, 26, 48, 0.4) 0%, rgba(21, 26, 48, 0.4) 100%);
  box-sizing: border-box;
  border-radius: 0px 0px 40px 40px;
}
@media (max-width: 575px) {
  .home {
    border-radius: 0px;
  }
}
.home_sponsor {
  background-color: #101426;
  box-sizing: border-box;
  padding-bottom: 80px;
}
.home_container {
  width: 1567px;
  margin: 0px auto;
  box-sizing: border-box;
  border: 1px solid rgb(25, 32, 56);
  border-radius: 32px;
  background: rgb(21, 26, 48);
}
@media (max-width: 575px) {
  .home_container {
    width: 100%;
  }
}
.home_container .box {
  border-radius: 32px;
  padding: 40px 56px;
}
@media (max-width: 575px) {
  .home_container .box {
    padding: 40px 26px;
  }
}
.home_container .box .box-body {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background: none;
}
@media (max-width: 575px) {
  .home_container .box .box-body {
    flex-direction: column;
    gap: 70px;
  }
}
.home_container .box .box-body .box-title {
  width: 100%;
  max-width: 42%;
  background: none;
}
@media (max-width: 575px) {
  .home_container .box .box-body .box-title {
    max-width: 100%;
  }
}
.home_container .box .box-body .box-title h1 {
  color: #ede9f2;
  font-size: 48px;
  line-height: 64px;
  margin-bottom: 16px;
  font-weight: 500;
  background: none;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}
.home_container .box .box-body .box-title span {
  color: #fff;
  font-size: 20px;
  font-weight: 400;
  line-height: 28px;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  background: none;
}
.home_container .box .box-body img {
  margin-left: 40px;
  max-width: 653px;
  width: 100%;
  height: auto;
  border-radius: 16px;
}
@media (max-width: 575px) {
  .home_container .box .box-body img {
    margin-left: 0px;
  }
}
.home_section {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 82%;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 50px !important;
}
@media (max-width: 575px) {
  .home_section {
    width: 100%;
    display: flex;
    flex-direction: column;
    margin-left: 0;
    margin-right: 0;
    box-sizing: border-box;
  }
}
.home_swiper {
  width: 40%;
  height: 560px;
}
@media (max-width: 575px) {
  .home_swiper {
    width: 100%;
    height: 100%;
    margin-top: 30px;
  }
}
.home_info {
  width: 48%;
}
@media (max-width: 575px) {
  .home_info {
    width: 100%;
    box-sizing: border-box;
    padding-left: 18px;
  }
}
.home_info-title {
  color: #fff;
  font-size: 80px;
  font-weight: 700;
  line-height: 84px;
  margin-bottom: 48px;
  margin-right: 40px;
}
@media (max-width: 575px) {
  .home_info-title {
    width: 100%;
    font-size: 48px;
    line-height: 63px;
    margin-bottom: 30px;
  }
}
.home_info-subtitle {
  width: 82%;
  color: #fff;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
}
@media (max-width: 575px) {
  .home_info-subtitle {
    width: 100%;
    color: #fff;
    font-size: 16px;
    font-weight: 500;
    line-height: 24px;
  }
}
.home_info-btn {
  width: 169.5px;
  height: 48px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 12px 36px 12px 36px;
  border-radius: 8px;
  background: rgb(255, 255, 255);
  color: rgb(34, 43, 69);
  font-family: Euclid Circular A;
  font-size: 24px;
  font-weight: 400;
  line-height: 32px;
  letter-spacing: 0%;
  text-align: left;
  cursor: pointer;
  border: none;
  margin-top: 40px;
}
.home_info-btn:hover {
  background-color: #db1374;
  color: #fff;
  transition: all 0.5s;
}
.home_info-btn-icon {
  width: 20px;
  height: 20px;
  padding: 6px;
  background-color: #101426;
  border-radius: 50px;
  margin-left: 15px;
}
.home_components {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  gap: 30px;
  overflow-x: auto;
  width: 1668px;
}
@media (max-width: 575px) {
  .home_components {
    width: 100%;
  }
}

.ourValues {
  box-sizing: border-box;
  background-color: rgb(16, 20, 38);
  padding: 16px;
  padding-bottom: 100px;
}
.ourValues .values {
  color: rgb(255, 255, 255);
  padding-bottom: 40px;
  font-size: 23px;
  font-family: Euclid Circular A, sans-serif;
}
.ourValues .categories {
  background: linear-gradient(257deg, #151a30, #211d4d 28%, #271630 70%, #0f1836), linear-gradient(0deg, rgba(21, 26, 48, 0.4), rgba(21, 26, 48, 0.4));
  padding: 70px 30px;
  border-radius: 10px;
}
.ourValues .categories .trust {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 25px;
}
.ourValues .categories h2 {
  padding-bottom: 20px;
  color: white;
  font-family: Euclid Circular A, sans-serif;
  font-weight: 500;
  font-size: 23px;
  border-bottom: 1px solid #e32682;
}
.ourValues .categories p {
  color: white;
  font-size: 18px;
  font-family: Euclid Circular A, sans-serif;
  padding-top: 15px;
}
.ourValues .categories .trancparency {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 25px;
}
.ourValues .categories .innovation {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 25px;
  padding-top: 40px;
}
.ourValues .categories .collaboration {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 25px;
  padding-top: 40px;
}/*# sourceMappingURL=home.css.map */