@import "../../responsive/mixins";

.footer-margin-top {
  border-top: 1px solid #222b45;
  background-color: #101426;


  .footer-bottom {
    border-top: 1px solid #192038;
    margin-top: 50px;
    background-color: #101426;


    .bottom-text {
      color: #edf1f7;
      max-width: 1220px;
      margin: 0px 166px;
      font-size: 16px;
      font-weight: 400;
      padding: 10px 0 8px;

      @include mobile{
        color: #edf1f7;
        margin: 0px 182px;
        font-size: 16px;
        font-weight: 400;
        padding: 10px 0px;
      }
    }
  }

  .footer {
    width: 100%;
    max-width: 1528px;
    margin: 0 auto;
    padding-top: 64px;
    padding-bottom: 8px;
    background-color: #101426;


    .footer-body {
      width: 100%;
      display: flex;
      align-items: center;

      @include mobile{
        flex-direction: column;
        gap: 40px;
      }

      img {
        max-width: 100%;
        height: 48px;
        width: 120px;
        object-fit: cover;
      }

      .footer-text {
        display: flex;
        width: 100%;
        justify-content: space-evenly;
        align-items: start;

        .footer-information {
          flex-wrap: wrap;
          display: flex;
          flex-direction: column;
          margin-bottom: 20px;
          width: 100px;
          align-items: start;
          justify-content: start;
          height: auto;

          .footer-text-midle {
            margin-bottom: 20px;
            font-size: 16px;
            font-weight: 600;
            font-style: normal;
            color: #e4e9f2;
          }
          a {
            display: block;
            color: #e4e9f2;
            font-size: 16px;
            font-weight: 400;
            text-decoration: none;
            list-style: none;
            margin-bottom: 8px;
          }
        }
      }
    }
  }
}

@media (max-width: 768px) {
  .footer-margin-top {
    .container {
      .footer-body {
        flex-direction: column;
        align-items: center;

        .footer-text {
          flex-wrap: wrap;
          align-items: center;
          text-align: center;

          .footer-information {
            width: 150px;
            margin-bottom: 10px;
            max-width: none;
            margin-bottom: 10px;
            align-items: center;
          }
        }

        img {
          margin-bottom: 20px;
          height: auto;
          width: 120px;
        }
      }
    }
  }
}
