@import "../../responsive/mixins";

.slider-container {
    width: 600px; 
    height: 608px; 
    overflow: hidden; 
    margin: 0 auto; 
    margin-left: 46px;

    @include mobile{
      display: none;
    }

    &-images{
      display: flex;
      flex-wrap: wrap;
      gap: 20px;
    }
  }
  
  .slick-slide-img {
    width: 164px; 
    height: 208px; 
    border-radius: 10px; 
    cursor: pointer;
  }
  